html,

body {
  padding: 10;
  margin: 50;
  border-top:0cqb;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

nav ul {
  list-style-type: none;
}

nav li {
  margin: 0 10px;
  list-style: none;
}
